In [1]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
import pandas as pd
import numpy as np

In [11]:
dataset = pd.read_csv('collision_dataset.csv')
dataset.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2018010080971,2018,10080971,529150.0,182270.0,-0.139737,51.524587,1,3,2,...,0,4,1,1,0,0,1,1,2,E01000854
1,2018010080973,2018,10080973,542020.0,184290.0,0.046471,51.539651,1,3,1,...,0,4,1,1,0,0,1,1,2,E01003531
2,2018010080974,2018,10080974,531720.0,182910.0,-0.102474,51.529746,1,3,2,...,5,4,1,1,0,0,1,1,2,E01002723
3,2018010080981,2018,10080981,541450.0,183220.0,0.037828,51.530179,1,2,2,...,5,4,2,2,0,0,1,1,2,E01003492
4,2018010080982,2018,10080982,543580.0,176500.0,0.065781,51.469258,1,2,2,...,0,4,1,2,0,0,1,1,2,E01001682

In [12]:
import pandas as pd

num_rows, num_cols = dataset.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 538461
Number of columns: 36

In [13]:
dataset1 = pd.read_csv('casualty_dataset.csv')
dataset1.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2018010080971,2018,010080971,1,1,2,2,50,8,3,0,0,2,0,0,9,1,8,E01011051
1,2018010080971,2018,010080971,2,2,1,1,48,8,3,0,0,0,0,0,8,1,1,E01002066
2,2018010080973,2018,010080973,1,1,3,1,29,6,3,5,1,0,0,2,0,1,3,E01003531
3,2018010080974,2018,010080974,1,1,1,1,40,7,3,0,0,0,0,0,8,1,3,E01000185
4,2018010080981,2018,010080981,1,1,1,1,27,6,2,0,0,0,0,0,9,1,7,E01003643

In [5]:
import pandas as pd

num_rows, num_cols = dataset1.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 693028
Number of columns: 19

In [6]:
dataset2 = pd.read_csv('vehicle_dataset.csv')
dataset2.head()

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2018010080971,2018,10080971,1,9,0,18,3,7,0,...,1,32,6,1995,2,5,BMW 5 SERIES,8,1,E01011051
1,2018010080971,2018,10080971,2,8,0,18,3,7,0,...,1,48,8,1798,8,6,TOYOTA PRIUS+,1,1,E01002066
2,2018010080973,2018,10080973,1,9,0,18,3,7,0,...,3,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,2018010080974,2018,10080974,1,8,0,7,1,4,0,...,1,40,7,1797,8,6,TOYOTA PRIUS,3,1,E01000185
4,2018010080974,2018,10080974,2,9,0,18,4,8,0,...,1,21,5,-1,-1,-1,-1,5,1,E01000036

In [7]:
import pandas as pd

num_rows, num_cols = dataset2.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 990153
Number of columns: 28

In [8]:
import pandas as pd

df = pd.read_csv('RTA-2018-2022.csv')

missing_values_count = (df == -1).sum()

print("Missing Values Count:")
print(missing_values_count)

Missing Values Count:
accident_index                 0
accident_year                  0
accident_reference             0
longitude                      0
latitude                       0
police_force                   0
accident_severity              0
number_of_vehicles             0
number_of_casualties           0
date                           0
day_of_week                    0
time                           0
road_type                      0
speed_limit                   92
junction_detail                6
light_conditions              14
weather_conditions            32
road_surface_conditions     1928
carriageway_hazards         1620
urban_or_rural_area            1
trunk_road_flag            42006
dtype: int64

In [9]:
import pandas as pd

df = pd.read_csv('dft-road-casualty-statistics-vehicle-last-5-years.csv')

missing_values_count = (df == -1).sum()

print("Missing Values Count:")
print(missing_values_count)

Missing Values Count:
accident_index                    0
accident_year                     0
accident_reference                0
vehicle_reference                 0
vehicle_type                    835
vehicle_direction_from        11850
vehicle_direction_to          12707
junction_location              2170
vehicle_left_hand_drive        1102
journey_purpose_of_driver       259
sex_of_driver                    18
age_of_driver                137505
age_band_of_driver           137505
driver_imd_decile            191149
dtype: int64

In [10]:
import pandas as pd

df = pd.read_csv('RTA-CASUALTY.csv')

missing_values_count = (df == -1).sum()

print("Missing Values Count:")
print(missing_values_count)

Missing Values Count:
accident_index                            0
accident_year                             0
accident_reference                        0
vehicle_reference                         0
casualty_reference                        0
casualty_class                            0
sex_of_casualty                        3596
age_of_casualty                       14511
age_band_of_casualty                  14511
casualty_severity                         0
pedestrian_road_maintenance_worker      584
casualty_type                            36
casualty_home_area_type               66548
casualty_imd_decile                   67861
dtype: int64

In [19]:
#Collision Dataset
columns = dataset.columns.tolist()
print(columns)

['accident_index', 'accident_year', 'accident_reference', 'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude', 'police_force', 'accident_severity', 'number_of_vehicles', 'number_of_casualties', 'date', 'day_of_week', 'time', 'local_authority_district', 'local_authority_ons_district', 'local_authority_highway', 'first_road_class', 'first_road_number', 'road_type', 'speed_limit', 'junction_detail', 'junction_control', 'second_road_class', 'second_road_number', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'light_conditions', 'weather_conditions', 'road_surface_conditions', 'special_conditions_at_site', 'carriageway_hazards', 'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident', 'trunk_road_flag', 'lsoa_of_accident_location']

In [20]:
#Casualty Dataset
columns = dataset1.columns.tolist()
print(columns)

['accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'casualty_reference', 'casualty_class', 'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty', 'casualty_severity', 'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type', 'casualty_imd_decile', 'lsoa_of_casualty']

In [21]:
#Vehicle Dataset
columns = dataset2.columns.tolist()
print(columns)

['accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'vehicle_type', 'towing_and_articulation', 'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to', 'vehicle_location_restricted_lane', 'junction_location', 'skidding_and_overturning', 'hit_object_in_carriageway', 'vehicle_leaving_carriageway', 'hit_object_off_carriageway', 'first_point_of_impact', 'vehicle_left_hand_drive', 'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver', 'age_band_of_driver', 'engine_capacity_cc', 'propulsion_code', 'age_of_vehicle', 'generic_make_model', 'driver_imd_decile', 'driver_home_area_type', 'lsoa_of_driver']